@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --Dark_cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very_dark_blue: hsl(212, 21%, 14%);
    --Dark_grayish_blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body{
    min-height: 100vh;
    background-color: var(--Cream);
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    width: 100%;
    object-fit: contain;
}

.containe{
    /*width: clamp(375px, 19.531vw, 1440px);*/
    column-count: 2;
    column-width: 19.531vw;
    background-color: var(--White);
}